*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

/* header start here  */
.main-container{
    background: rgba(229, 84, 115, 0.10);
}
.header-container{
    display: flex;
    width: 80%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* gap: 50px; */
    position: relative;
}
.reserved-img{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(-1);
    width: 350px;
    height: 450px;
}
/* .row-content{
    border: 1px solid green;
    position: absolute;
} */
.content-title{
    color: #272727;
    font-weight: 800;
    font-size: 60px;
    font-style: normal;
    line-height: normal;
}
.content-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 48%;
}
.btn-primary{
    border-radius: 4px;
    background: #E55473;
    border: 0;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
/* header section end here */