*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

/* header start here  */
.main-container{
    background: rgba(229, 84, 115, 0.10);
}
.header-container{
    display: flex;
    width: 80%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* gap: 50px; */
    position: relative;
}
.reserved-img{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(-1);
    width: 350px;
    height: 450px;
}
/* .row-content{
    border: 1px solid green;
    position: absolute;
} */
.content-title{
    color: #272727;
    font-weight: 800;
    font-size: 60px;
    font-style: normal;
    line-height: normal;
}
.content-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 48%;
}
.btn-primary{
    border-radius: 4px;
    background: #E55473;
    border: 0;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
/* header section end here */

/* Our flower section start here  */
.flower-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.flower-title{
    color: #272727;
    font-size: 38px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}
.flower-desc{
    width: 50%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 15px 0 30px;
}
.flower-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.rose-flower{
    width: 250px;
    height: 400px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 40px 0 40px;
    margin-bottom: 14px;
}
.red-flower{
    width: 250px;
    height: 400px;
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 40px 0 40px;
    margin-bottom: 14px;
}
.yellow-flower{
    width: 250px;
    height: 400px;
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 40px 0 40px;
    margin-bottom: 14px;
}
.flower-link{
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 200px;  
}
.support-section{
    width: 80%;
    margin: 0 auto;
    background-color: #2727270D;
    border-radius: 8px;
    text-align: center;
}
.support-container{
    display: flex;
    padding: 60px 150px;
    justify-content: space-around;
    align-items: center;
}
.support-img{
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}
.support-text{
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}
/* Our flower section end here  */