/* universal selector is here */
*{
    margin: 0;
    padding: 0;
}
/* Universal selector end is here */

body{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

/* header start here  */
.main-container{
    background: rgba(229, 84, 115, 0.10);
}
.header-container{
    display: flex;
    width: 80%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.reserved-img{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(-1);
    width: 350px;
    height: 450px;
}
.content-title{
    color: #272727;
    font-weight: 800;
    font-size: 60px;
    font-style: normal;
    line-height: normal;
}
.content-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 48%;
}
.btn-primary{
    border-radius: 4px;
    background: #E55473;
    border: 0;
    padding: 15px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
/* header section end here */

/* Our flower section start here  */
.flower-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.flower-title{
    color: #272727;
    font-size: 38px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}
.flower-desc{
    width: 50%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 15px 0 30px;
}
.flower-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.rose-flower{
    width: 250px;
    height: 400px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 40px 0 40px;
    margin-bottom: 14px;
}
.red-flower{
    width: 250px;
    height: 400px;
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 40px 0 40px;
    margin-bottom: 14px;
}
.yellow-flower{
    width: 250px;
    height: 400px;
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 100px 40px 0 40px;
    margin-bottom: 14px;
}
.flower-link{
    color: #272727;
    font-size: 17px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 200px;  
}
.support-section{
    width: 80%;
    margin: 0 auto;
    background-color: #2727270D;
    border-radius: 8px;
    text-align: center;
}
.support-container{
    display: flex;
    padding: 60px 150px;
    justify-content: space-around;
    align-items: center;
}
.support-img{
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}
.support-text{
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}
/* Our flower section end here  */

/* Hot deal section start is here */
.hot-deal-container{
    background: #E554730D;
    border-radius: 8px;
    margin-top: 70px;
    padding: 40px 0;
    text-align: center;
}
.hot-deal-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot-image{
    width: 300px;
    height: 400px;
    text-align: center;
}
.hot-color{
    color: #E55473;
}
.hot-deal-title{
    color: #272727;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hot-deal-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 70%;
    margin: 0 auto;
    padding: 13px 0 20px;
}
/* Hot deal section end is here */

/* instagram section start is here */
.instagram-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 70px;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 10px;
}
.instagram-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
}
.image-container{
    display: flex;
    justify-content: space-between;
}
.instagram-img{
    width: 250px;
    height: 300px;
}

/* Latest deal starting is here */
.least-deal-container{
    width: 80%;
    margin: 0 auto;
    height: 40vh;
    border-radius: 8px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    background-position: 50% 50%;
}
.get-deal-title{
    color: #272727;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 50px;
}
.get-deal-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}
form input[type="text"]{
    width: 40%;
    padding: 14px;
    margin-right: 4px;
}
 .latest-form{
    text-align: center;
 }
 /* Latest deal end is here */

 /* Footer section start is here */
 .footer-container{
    height: 45vh;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .footer-title{
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal
 }
 .footer-color{
    color: #E55473;
 }
 .footer-desc{
    color: rgba(255, 255, 255, 0.90);
    width: 40%;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 11px 0 20px;
 }
 .company-name{
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }
/* Footer section end is here  */